form {
    margin-top: 10%;
    width: 100%;
    flex-wrap: wrap;
}

form> input, button {
    margin: 0px 0px 10px 0px;
    width: 55%;
    
}
@media(max-width:1000px){
    .header{
        height: 200px;
    }

}