<div class="header center">
    <p>
      Aluguel Certo
    </p>  
  </div>
<div class="initial center" *ngIf="itens.length > 0 ; else loading" >
    <div width=100% class="center" *ngFor="let item of itens" >
        <app-image [id]="item.id" ></app-image>
        <p class="center"> 
            {{ item.name }}
            Estado ({{ item.state }})
            R${{ item.price }},00
        </p>
        
        <button *ngIf="item.location ; else truButton" >
            Alugado
        </button>       
        
    </div>
</div>


<ng-template #nomImages >
</ng-template>


<ng-template #loading>
    <p>
        Loading...
    </p>
</ng-template>

<ng-template #truButton>
    <button >
        Alugar
    </button>
</ng-template>